.share-feed-action-bar-img {
    width: 24px;
    height: 24px;
    border: none;
    background-color: #FFFFFF;
    margin-right: 1px;
}

.share-feed-action-bar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; 
    background-color: transparent;
    cursor: pointer;
}